#main {
    background-color: lightgray;
    position: relative;
}

#img-div {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#content {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tribute-link, #tribute-info, #title, #img-caption {
    text-align: center;
}